.room{
   min-height: 120%;
   margin: 0;
}
.room1{
    min-height: 120%;
    margin: 0;
 }
.lit{
    background-color: white;
    color: black;

}
.dark{
    background-color: black;
    color: white;
}
.on{
    background-color: turquoise;
    color: yellow;
}
.off{
    background-color:blue;
color: cornsilk;
}